<% layout('layout/default') -%>
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Log in</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Start using app trough google authenticate!</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="/auth/google">Get with Google API</a>
            </div>
        </div>
    </div>
</section>